* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../image/Background Image.png");
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: 0px 160px;
	font-size: large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: 	black;
}

body a {
	text-align: center;
}

/*NAVIGATION CSS*/
div.title h1 {
	font-family: "Lucida Calligraphy", "Verdana", sans-serif;
	font-style: oblique;
	font-size: 4em;
	margin-right: 30px;
}

div.title {
	background-image: none;
	background: -webkit-linear-gradient(#555, transparent);
	color: black;
	padding: 25px;
	text-align: center;
}

div.title img {
	margin-left: 30px;
}

div.title span#title_head {
	display: inline-block;
}

nav {
	font-family: sans-serif;
	background-color: #BBB;
	padding: 15px;
	width: 10%;
	z-index: 100;
	margin: 10px;
	position: fixed;
	top: 30%;
	left: 0px;
	border-radius: 10px;
}

nav h3 {
	text-decoration: underline;
	font-size: 100%;
	text-align: center;
}

nav ul {
	list-style-type: none;
	margin: 15px 0px;
}

nav a {
	text-decoration: none;
	padding: 2px;
	color: black;
}

nav a:hover {
	border: thin groove black;
	cursor: pointer;
}

nav span#home_nav {
	font-size: 1.5em;
}

img {
	width: 10%;
	height: 10%;
}

h2 {
	text-align: center;
}
/*NAVIGATION CSS*/

/*INPUT FIELD CSS*/
form {
	margin: auto;
}

form div {
	margin-top: 50px;
	text-align: center;
}

form div input, form div select {
	font-size: large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form div input[type="submit"] {
	padding: 5px;
}

form div span {
	display: block;
	margin: 15px;
}
/*INPUT FIELD CSS*/

/*IFRAME*/
div.frame {
	text-align: right;
	clear: left;
}

/*IFRAME*/