* {
	margin: 0;
	padding: 0;
}

body {
	background-image: url("../image/Background Image.png");
	background-repeat: no-repeat;
	background-size: 100%;
	font-size: large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: 	#c91dc9;
}

/*INPUT FIELD CSS*/
form {
	margin: auto;
}

form div {
	margin-top: 50px;
	text-align: center;
}

form div input, form div select {
	font-size: large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

form div span {
	display: block;
	margin: 15px;
}
/*SPECIFIC LIST STYLE*/



/*SPECIFIC LIST STYLE*/
/*INPUT FIELD CSS*/

/*NAVIGATION CSS*/
div.title h1 {
	font-family: "Lucida Calligraphy", cursive;
	font-style: oblique;
}

div.title {
	background-image: none;
	border-bottom: medium solid black;
	background-color: gray;
	color: black;
	padding: 25px;
	text-align: center;
}

div.title span#title_head {
	display: inline-block;
}
/*NAVIGATION CSS*/