* {
	margin: 0;
	padding: 0;
}

body {
	background-image: ../image/site_designs/Chandler AZ.jpg;
	font-family: Verdana, Geneva, sans-serif;
	font-size: large;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: 	#c91dc9;
}